section {
  margin-top: 7.5rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 10%;
  width: 82.66%;
  height: flex;
  
}

.flexItem {
  list-style: none;
  min-width: 10rem;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 1rem;
}

