section {
  margin-top: 6rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  width: 80%;
}

.flexItem {
  list-style: none;
  width: 32%;
  margin-bottom: 10px;
}

